<!doctype html>
<html>

<head>
	<title>DemoBlog</title>
	{% load static %} 
	<link rel="stylesheet" href="{% static "styles/base_style.css" %}" title="Default Styles" media="screen" />
	<link rel="stylesheet" href="{% static "styles/style.css" %}" title="Default Styles" media="screen" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "scripts/scripts.js" %}"></script> 
</head>

<body>
	<nav id="myNav">
		<img src="{% static "image/logo_large.png" %}" alt="DemoBlog" > 
		<div class="icons">
			<div class=social-icons><i href="#" class="fa fa-facebook"></i></div>
			<div class=social-icons><i href="#" class="fa fa-youtube"></i></div>
			<div class=social-icons><i href="#" class="fa fa-instagram"></i></div>
		</div>
		
		<ul class="navBar">
	  		<li class="option">
	  			<a class="link" href="#post">Strona Główna</a>
	  			<div class="line"></div>
	  		</li>
	  		<li class="option">
	  			<a class="link" href="#news">O filozofii</a>
	  			<div class="line"></div>
	  		</li>
	 		<li class="option">
	 			<a class="link" href="#contact">O programowaniu</a>
	 			<div class="line"></div>
	 		</li>
	  		<li class="option">
	  			<a class="link" href="#about">O mnie</a>
	  			<div class="line"></div>
	  		</li>
	  		<li class="option">
	  			<a class="link" href="#home">Szukaj</a>
	  			<div class="line"></div>
	  		</li>
	  		<li class="burger" id="icon-burger">
	  			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    				<i class="fa fa-bars"></i>
 				</a>
	  		</li>
	  		
		</ul>
	</nav>
	<div id="nav2" class="nav2">
		
		<ul class="navBar2">
	  		<li class="option2">
	  			<a class="link" href="#post">Strona Główna </a>
	  			<div class="line"></div>
	  		</li>
	  		<li class="option2">
	  			<a class="link" href="#news">O filozofii </a>
	  			<div class="line"></div>
	  		</li>
	 		<li class="option2">
	 			<a class="link" href="#contact">O programowaniu </a>
	 			<div class="line"></div>
	 		</li>
	  		<li class="option2">
	  			<a class="link" href="#about">O mnie </a>
	  			<div class="line"></div>
	  		</li>
	  		<li class="option2">
	  			<a class="link" href="#home">Szukaj </a>
	  			<div class="line"></div>
	  		</li>
		</ul>
		<div class="icons" id="icons">
			<div class=social-icons><i href="#" class="fa fa-facebook"></i></div>
			<div class=social-icons><i href="#" class="fa fa-youtube"></i></div>
			<div class=social-icons><i href="#" class="fa fa-instagram"></i></div>
		</div>
	</div>
	<script>
	function myFunction() {
	  var x = document.getElementById("myNav");
	  if (x.className === "") {
	    x.className += " responsive";
	    document.getElementById("nav2").style.height="100%";
	    document.getElementById("icons").style.display="flex";
	    document.getElementById("nav2").style.animation="appear 0.5s forwards ";
	    var el=document.getElementsByClassName("option2");
	    for (var i=0;i<el.length; i++) {
    		el[i].style.display="block";
		}
	    // document.getElementById("nav2").style.display="flex";
	  } else {
	    x.className = "";
	    // document.getElementById("nav2").style.height="0px";
	    // document.getElementById("nav2").style.display="none";
	    document.getElementById("icons").style.display="none";
	    document.getElementById("nav2").style.animation="disappear 0.2s forwards";
	    var el=document.getElementsByClassName("option2");
	    for (var i=0;i<el.length; i++) {
    		el[i].style.display="none";
		}
	  }
	}
</script>
	
{% block content %}

		replace it 
{% endblock %}
	<footer>
		<div class="footer_image" id="foot">
			
		</div>
	</footer>

</body>

</html>