<!DOCTYPE html>
<html>

<head>
	<title>DemoBlog</title>
	{% load static %} 
	<link rel="stylesheet" href="{% static "styles/base_style.css" %}" title="Default Styles"  />
	<link rel="stylesheet" href="{% static "styles/style.css" %}" title="Default Styles"  />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "scripts/scripts.js" %}"></script> 
</head>

<body>
	<div class="searchPanel">
				<div class="searchClose">
					<i class="material-icons">close</i>
				</div>
			</div>
	<main>		
		<nav class="topnav">
			<img src="{% static "image/logo_large.png" %}" alt="DemoBlog" >
			<div class="burger" >
				<div class="line1"></div>
			  	<div class="line2"></div>
			  	<div class="line3"></div>
			  </div> 
			<div class="nav-links">
				<div class="icons">
					<div class=social-icons><i href="#" class="fa fa-facebook"></i></div>
					<div class=social-icons><i href="#" class="fa fa-youtube"></i></div>
					<div class=social-icons>
						<i href="#" class="fa fa-instagram"></i>
						<div class="instagram_frame" ></div>

					</div>
				</div>
				
				<ul class="navBar">
			  		<li class="option">
			  			<a class="link" href="#post">Strona Główna</a>
			  			<div class="line"></div>
			  		</li>
			  		<li class="option">
			  			<a class="link" href="#news">O filozofii</a>
			  			<div class="line"></div>
			  		</li>
			 		<li class="option">
			 			<a class="link" href="#contact">O programowaniu</a>
			 			<div class="line"></div>
			 		</li>
			  		<li class="option">
			  			<a class="link" href="#about">O mnie</a>
			  			<div class="line"></div>
			  		</li>
			  		<li class="option" id="search">
			  			<a class="link" href="#home" >Szukaj</a>
			  			<div class="line"></div>
			  		</li>
			  	
			  		
				</ul>

			</div>
		</nav>
		{% block content %}

				replace it 
		{% endblock %}
		<footer>
			<div class="footer_image" id="foot">
				
			</div>
		</footer>
	</main>
</body>
<script>
	let resizeTimer;
	window.addEventListener("resize", () => {
	  	document.body.classList.add("resize-animation-stopper");
	  	clearTimeout(resizeTimer);
	  	resizeTimer = setTimeout(() => {
	    	document.body.classList.remove("resize-animation-stopper");
	  	}, 400);
	});

	const navAnimation=()=>{
		let nav=document.querySelector(".nav-links");
		let burger=document.querySelector(".burger");
		let links=document.querySelectorAll(".navBar li");

		burger.addEventListener('click',()=>{
			burger.classList.toggle('toggle');
			nav.classList.toggle('nav-appear');
			links.forEach((link,index)=>{
				if(link.style.animation){
					link.style.animation='';
				}
				else{
					link.style.animation=`delayAnimation 0.3 ease forwards ${index/6+ 1.5}s`;
				}
			})
			
		})
		var x = window.matchMedia("(min-width: 875px)")
		x.addListener(()=>{
			if(x.matches){
				burger.classList.remove('toggle');
				nav.classList.remove('nav-appear');
				links.forEach((link,index)=>{
						link.style.animation='';
				})
			}
		})
	}

	let option=document.querySelectorAll(".navBar .option");
		let searchPanel=document.querySelector('.searchPanel');
	const offClick=()=>{
		if(!searchPanel.onclick){
			option.forEach((opt,index)=>{
				opt.style.display='initial';
			});
			document.querySelector('.searchPanel').classList.remove('showSearchPanel');
		}
		
	}

	const searchClicked=(e)=>{
		e.stopPropagation();
		console.log(option);
		option.forEach((opt,index)=>{
			opt.style.display='none';
		});
		searchPanel.classList.toggle('showSearchPanel');
		// document.querySelector('nav').addEventListener('click')
	}
	document.querySelector('#search').addEventListener('click',searchClicked);
	document.querySelector('.searchClose').addEventListener('click',offClick);
	document.querySelector('main').addEventListener('click',offClick);

	navAnimation();

	let nav=document.querySelector('nav');
	let whereisit=()=> {
		if(window.scrollY>=658 ){ //value calculated from height of nav and headers image
			nav.style.position="fixed";
			nav.style.transition="0.5s ease";
		}
	}
	addEventListener('wheel',whereisit);
</script>
</html>