{% extends 'base.html' %}

{% block content %}
	<div class="main_container">
		<div class="front_main_posts">
			{% for i in front_obj %}
			
				<div class="front_main_post_frame">
					<a href="post/{{i.slug}}">
						<!-- <div class="front_main_post"> -->
							<div id="front_main_post_title">
								<h1>{{i.title}}</h1>
								<div id="front_main_post_time">
									<p class="main_post_date">{{i.date.year}},{{i.date.month}},{{i.date.day}}</p>
								</div>
							</div>
							<img src="{{i.image.url}}" ></img>
						<!-- </div> -->
					</a>
				</div>
			
			{% endfor%}
		</div>
		

		<div class="main_posts">
			{% for i in obj %}
				<div class="main_post_frame">
					<a href="post/{{i.slug}}">
						<div class=main_post>
							<div id="main_post_title">
								<h2>{{i.title}}</h2>
								<div id="main_post_time">
									<p class="main_post_date">{{i.date.year}},{{i.date.month}},{{i.date.day}}</p>
								</div>
							</div>
							<img src="{{i.image.url}}" ></img>
						</div>
					</a>
				</div>
			
			{% endfor%}
		</div>
	</div>
	{% load static %} 
	<script type="text/javascript" src="{% static "scripts/date.js" %}"></script> 
	

{% endblock %}