body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  font-family: 'Raleway',sans-serif;
}

nav{
	width: 100%;
	height: 100px;
	display: flex;
  	align-items: flex-start;
  	justify-content: flex-start;
  	background-color: #faf6e9;
  	border-top: 3px solid #494949;
  	opacity: 0.7;
 
}
.nav2{
	/*display:relative;*/
	display: flex;
  	align-items: center;
  	flex-direction: column;
  	width: 100%;
  	height: 0px;
  	justify-content: center;
  	/*animation-name: appear;*/
  	/*animation-duration: 1s;*/
  	/*animation-fill-mode: both;*/
  	overflow: hidden;
  	
}
@keyframes appear {
  from {height:0px;}
  to {height:320px;}
}
@keyframes disappear {
  from {height:250px;}
  to {height:0px;}
}
nav img{
	height: 175px;
	margin-left: 30px;
	margin-top: -26px;
	position: absolute;
}

.navBar {
  width: 100%;
  height: 100%;
  list-style-type: none;
  /*position:fixed;*/
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  align-self: flex-end;
  /*border: 2px solid black;*/
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.navBar2 {
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.option2{
	
	display: none;
	position: relative;
	margin-bottom: 15px;
  	white-space: nowrap;
	left: 1000px;
	animation: ease-in-out;
  	animation-name: an;
  	animation-duration: .4s;
  	animation-fill-mode: forwards;
}
@keyframes an {
  from {left: 1000px;}
  to {left: 0px;}
}
.option2:nth-child(1) { animation-delay: 0s }
.option2:nth-child(2) { animation-delay: .2s }
.option2:nth-child(3) { animation-delay: .4s }
.option2:nth-child(4) { animation-delay: .5s }
.option2:nth-child(5) { animation-delay: .6s }

.option {
  float: right;
  /*width: 8%;*/
  height: 20px;
  margin-right:40px;
  margin-bottom: 15px;
  white-space: nowrap;
  /*border: 2px solid black;*/
}
.line{
	position:relative;
	width:0%;
	border-bottom: 1px solid transparent;
	transition: all ease-in-out 1s;
	margin-left: 50%;
}
.link{
	font-family: Monospace, sans-serif ;
	font-style: italic;
	font-size: 20px;
	height: 100%;
	/*display: block;*/
	color: #494949;
	text-align: center;
    /*padding: 14px 26px 40px;*/
	text-decoration: none;
	
}
.link:hover + .line {
 	border-bottom: thin solid #494949;
 	width:100%;
 	margin-left: 0%;
}
.icons {
	width: 200px;
	display: none;
	justify-content: space-around;
}
nav>.icons{
	width: 200px;
	position: relative;
    top:10px;
    left:80vw;
	display: flex;
	justify-content: space-around;
}
.social-icons {
    /*color: #fff;*/
    
    overflow:hidden;
    position: relative;
    /*top:10px;*/
    border: 1px solid #494949;
    border-radius: 50%;
    width: 37px;
}
.fa-facebook {
	/*border-radius: 100%;*/
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #faf6e9;
    color: #494949;
    text-decoration-style: solid;
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: white;
    border: 3px;
}
.fa-youtube {
	/*border-radius: 100%;*/
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #faf6e9;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-instagram {
	/*border-radius: 100%;*/
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    
    background-color: #faf6e9;
    transition:.5s;
    text-decoration-style: solid;
}
.fa-instagram:hover {
	/*width: 9px;*/
	/*border-radius: 100%;*/
    background: linear-gradient( #400080, transparent),linear-gradient( 200deg, #d047d1, #ff0000, #ffff00);
    color: white;
    border: 3px;
}


.fa-bars{
	color:#494949;
}
nav .icon {
	font-size:40px;
    display: none;
}
/*.Nav2{display: none;}*/

@media screen and (max-width: 600px) {
  nav a {display: none;}
  nav div {display: none;}
  .navBar{
  	display:flex;
  	align-items: center;
  	margin-right: 7%;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .nav2{
  	display: none;
  	height: 0px;
  }
}
/*@media screen and (max-width: 600px) {
  nav.responsive {
  	position: relative;
  	
  }
  .navBar{
  	display:flex;
  	align-items: center;
  	margin-right: 7%;
  }

  nav.responsive a {
    display: block;
    text-align: left;

  }

}*/



footer{
	padding: 0;
	margin:0;
	height:300px;
	background-color: #494949;
}
.footer_image{
	height: 100%;	
	background-image: url("/static/image/logo_large.png") ;
	background-size: contain ;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
	/*background-color: #494949;*/
}